@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background-color: #151618;
    
}
.color{
background-color: #151618 !important;
}

:root {
    --def-transition-duration: .2s;
}

html {
    font-size: 16px;
    font-family: 'Figtree', sans-serif;
    line-height: 1.5;
}

img {
    display: block;
}

#hero {
    background-color: #151618;
    height: 50vh;
    padding-top: 3rem;
}

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 3rem;
}

nav ul a {
    text-decoration: none;
    color: #A1A2A3;
    display: inline-block;
    padding: 1.5rem 0;
}

nav ul a:hover {
    color: #E8E8E8;
}

.has-submenu {
    position: relative;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: flex-start;
}

.has-submenu::after {
    content: url('icons/icon-arrow-down.svg');
    opacity: .6;
    height: 25px;
}

.has-submenu:hover ul {
    display: block;
}

.has-submenu ul {
    position: absolute;
    top: 100%;
    left: -2rem;
    background-color: #212224;
    border-radius: .5rem;
    padding: .5rem;
    display: none;
}

.has-submenu ul a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    min-width: 15rem;
    border-radius: .5rem;
}

.has-submenu ul a::after {
    content: url(icons/icon-arrow-right.svg);
    height: 17px;
    opacity: 0;
}

.has-submenu ul a:hover {
    background-color: #2C2D2F;
    padding: 1rem 1.5rem;
}

.has-submenu ul a:hover::after {
    opacity: 1;
}

.has-submenu:hover::after {
    opacity: 1;
}

.has-submenu:hover > a {
    color: #E8E8E8;
}


/* Air */
nav ul a {
    transition-property: color;
}

.has-submenu::after {
    transition-property: opacity;
}

.has-submenu ul {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-1rem);
    transition-property: opacity, visibility, transform;
}

.has-submenu:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.has-submenu ul a{
    transition-property: background-color, padding;
}

.has-submenu ul a::after {
    transition-property: opacity;
}




nav ul a,
.has-submenu::after,
.has-submenu ul,
.has-submenu ul a,
.has-submenu ul a::after {
    transition-property: var(--def-transition-duration);
    transition-timing-function: ease-in-out;
}

.copyright{
    color:#E8E8E8;
}

